* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  scroll-behavior: smooth;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-snap-stop: always;
}

/* 스크롤바 제거 */
.container::-webkit-scrollbar {
  display: none;
}

.container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.section {
  width: 100%;
  height: 100vh;
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero {
  background: url("main-hero.png") no-repeat center center;
  background-size: 90% auto;
}

.about {
  background-color: #111;
  color: #fff;
}

.skills {
  background-color: #1a1a1a;
  color: #fff;
}

.archiving {
  background-color: #222;
  color: #fff;
}

.careers {
  background-color: #2a2a2a;
  color: #fff;
}

h1 {
  font-size: 64px;
  letter-spacing: 2px;
}
